<a href="https://colab.research.google.com/github/Praxis-QR/FDS/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![CC-BY-SA](https://licensebuttons.net/l/by-sa/3.0/88x31.png)<br>
<hr>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

#Data Cleaning
[Original Tutorial](https://www.shiksha.com/online-courses/articles/data-cleaning-using-pandas/) <br>
[Saved File](https://github.com/Praxis-QR/FDS/blob/main/Docs/DataCleaningTutorial.pdf)

In [1]:
import pandas as pd

In [2]:
!wget https://github.com/Praxis-QR/FDS/raw/main/data/AB_NYC.csv

--2023-10-13 04:46:31--  https://github.com/Praxis-QR/FDS/raw/main/data/AB_NYC.csv
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/Praxis-QR/FDS/main/data/AB_NYC.csv [following]
--2023-10-13 04:46:32--  https://raw.githubusercontent.com/Praxis-QR/FDS/main/data/AB_NYC.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7074776 (6.7M) [text/plain]
Saving to: ‘AB_NYC.csv’

AB_NYC.csv          100%[===================>]   6.75M  --.-KB/s    in 0.1s

2023-10-13 04:46:32 (59.2 MB/s) - ‘AB_NYC.csv’ saved [7074776/7074776]

In [28]:
#Importing the dataset by reading the csv file
#df = pd.read_csv('AB_NYC_2019.csv')
df = pd.read_csv('AB_NYC.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,05-07-2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19-11-2018,0.10,1,0

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48903 entries, 0 to 48902
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48903 non-null  int64
 1   name                            48887 non-null  object
 2   host_id                         48903 non-null  int64
 3   host_name                       48882 non-null  object
 4   neighbourhood_group             48903 non-null  object
 5   neighbourhood                   48903 non-null  object
 6   latitude                        48903 non-null  float64
 7   longitude                       48903 non-null  float64
 8   room_type                       48903 non-null  object
 9   price                           48903 non-null  int64
 10  minimum_nights                  48903 non-null  int64
 11  number_of_reviews               48903 non-null  int64
 12  last_review                     38850 non-null  object
 13  reviews_per_month               38850 non-null  float64
 14  calculated_host_listings_count  48903 non-null  int64
 15  availability_365                48903 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [30]:
#Finding duplicated values in a DataFrame
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
48898    False
48899    False
48900    False
48901    False
48902    False
Length: 48903, dtype: bool

In [31]:
#Finding duplicated values in a DataFrame
df.duplicated().any()

True

In [32]:
#df.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
df.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=False)

In [33]:
#Finding duplicated values in a DataFrame
df.duplicated().any()

False

In [34]:
#Finding missing values in a DataFrame
df.isnull()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48898,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
48899,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
48900,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
48901,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
48902,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False

In [35]:
#Finding missing values in a DataFrame
df.isna()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48898,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
48899,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
48900,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
48901,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
48902,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False

In [36]:
#Finding missing values in a DataFrame
df.isna().any()

id                                False
name                               True
host_id                           False
host_name                          True
neighbourhood_group               False
neighbourhood                     False
latitude                          False
longitude                         False
room_type                         False
price                             False
minimum_nights                    False
number_of_reviews                 False
last_review                        True
reviews_per_month                  True
calculated_host_listings_count    False
availability_365                  False
dtype: bool

In [37]:
#Finding missing values in a DataFrame
df.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [39]:
#Replacing N/A values in a DataFrame
#df.fillna({'name':'Not Stated','host_name':'Not Stated','last_review':0}, inplace=True)
df.fillna({'name':'Not Stated','host_name':'Not Stated','last_review':'1-1-1900'}, inplace=True)

In [ ]:
#19-10-2018

In [40]:
df.isna().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                           0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [41]:
#Dropping columns in a DataFrame
df.drop(['reviews_per_month'], axis = 1, inplace=True)

In [42]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

In [43]:
#Changing the index of a DataFrame
df['id'].is_unique

True

In [44]:
#Let’s set the 'id' column as index using set_index:
df = df.set_index('id')
df.head()

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,
2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,6,365
2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,2,355
3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,1-1-1900,1,365
3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,05-07-2019,1,194
5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19-11-2018,1,0

In [45]:
df.iloc[4]

name                              Entire Apt: Spacious Studio/Loft by central park
host_id                                                                       7192
host_name                                                                    Laura
neighbourhood_group                                                      Manhattan
neighbourhood                                                          East Harlem
latitude                                                                  40.79851
longitude                                                                -73.94399
room_type                                                          Entire home/apt
price                                                                           80
minimum_nights                                                                  10
number_of_reviews                                                                9
last_review                                                             19-11-2018
calculated_host_listings_count                                                   1
availability_365                                                                 0
Name: 5022, dtype: object

In [46]:
#Renaming column of a DataFrame
new_col = {'name':'listing_name', 'number_of_reviews':'reviews'}

df.rename(columns=new_col, inplace=True)
df.head()

,listing_name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,reviews,last_review,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,
2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,6,365
2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,2,355
3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,1-1-1900,1,365
3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,05-07-2019,1,194
5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19-11-2018,1,0

In [47]:
df['last_review'].dtype.type

numpy.object_

In [48]:
#Converting data type
#df['last_review'] = pd.to_datetime(df['last_review'], format='%Y-%m-%d')
#df['last_review'].dtype.type

ValueError: ignored

In [49]:
#Converting data type
df['last_review'] = pd.to_datetime(df['last_review'], format='%d-%m-%Y')
df['last_review'].dtype.type

numpy.datetime64

In [50]:
#Converting data type to reduce memory
df['host_id'] = df['host_id'].astype('int32')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48895 entries, 2539 to 36487245
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   listing_name                    48895 non-null  object
 1   host_id                         48895 non-null  int32
 2   host_name                       48895 non-null  object
 3   neighbourhood_group             48895 non-null  object
 4   neighbourhood                   48895 non-null  object
 5   latitude                        48895 non-null  float64
 6   longitude                       48895 non-null  float64
 7   room_type                       48895 non-null  object
 8   price                           48895 non-null  int64
 9   minimum_nights                  48895 non-null  int64
 10  reviews                         48895 non-null  int64
 11  last_review                     48895 non-null  datetime64[ns]
 12  calculated_host_listings_count  48895 non-null  int64
 13  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(5), object(5)
memory usage: 5.4+ MB