<a href="https://colab.research.google.com/github/Praxis-QR/FDS/blob/main/FDS_Data36_Pandas_Tutorial_Starter_Pack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![CC-BY-SA](https://licensebuttons.net/l/by-sa/3.0/88x31.png)<br>
<hr>

![alt text](https://4.bp.blogspot.com/-gbL5nZDkpFQ/XScFYwoTEII/AAAAAAAAAGY/CcVb_HDLwvs2Brv5T4vSsUcz7O4r2Q79ACK4BGAYYCw/s1600/kk3-header00-beta.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

##Reference<br>
[Data36 Tutorial 1](https://data36.com/pandas-tutorial-1-basics-reading-data-files-dataframes-data-selection/)<br>
[Data36 Tutorial 2](https://data36.com/pandas-tutorial-2-aggregation-and-grouping/)

In [6]:
import numpy as np
import pandas as pd

#Loading Data

## Pandas Tutorial Data Set

### Option 1 : download and read

In [3]:
!wget -O Tutorial.csv -q  https://raw.githubusercontent.com/Praxis-QR/FDS/main/data/pandas_tutorial_read.csv

In [4]:
#!head Tutorial.csv

2018-01-01 00:01:01;read;country_7;2458151261;SEO;North America
2018-01-01 00:03:20;read;country_7;2458151262;SEO;South America
2018-01-01 00:04:01;read;country_7;2458151263;AdWords;Africa
2018-01-01 00:04:02;read;country_7;2458151264;AdWords;Europe
2018-01-01 00:05:03;read;country_8;2458151265;Reddit;North America
2018-01-01 00:05:42;read;country_6;2458151266;Reddit;North America
2018-01-01 00:06:06;read;country_2;2458151267;Reddit;Europe
2018-01-01 00:06:15;read;country_6;2458151268;AdWords;Europe
2018-01-01 00:07:21;read;country_7;2458151269;AdWords;North America
2018-01-01 00:07:29;read;country_5;2458151270;Reddit;North America

In [8]:
df_ArticleRead = pd.read_csv('Tutorial.csv', delimiter=';', header=None)
df_ArticleRead.head()

                     0     1          2           3        4              5
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

In [9]:
colNames = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic']
df_ArticleRead = pd.read_csv('pandas_tutorial_read.csv', delimiter=';', names = colNames)
df_ArticleRead.head()

           my_datetime event    country     user_id   source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

### Option 2 : read direct from URL

In [13]:
dataURL = 'https://raw.githubusercontent.com/Praxis-QR/FDS/main/data/pandas_tutorial_read.csv'
colNames = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic']
df_ArticleRead = pd.read_csv(dataURL, delimiter=';', names = colNames )
df_ArticleRead.head()

           my_datetime event    country     user_id   source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

## Zoo Data Set

In [14]:
#locate at https://drive.google.com/file/d/1LHrgbUoNrI2HG3bktN-Ak63Vw4ywW-XY/view?usp=sharing
#!gdown https://drive.google.com/uc?id=1LHrgbUoNrI2HG3bktN-Ak63Vw4ywW-XY
dataURL = 'https://raw.githubusercontent.com/Praxis-QR/FDS/main/data/zoo.csv'
dfZoo = pd.read_csv(dataURL)

In [15]:
dfZoo.head(5)

     animal  uniq_id  water_need
0  elephant     1001         500
1  elephant     1002         600
2  elephant     1003         550
3     tiger     1004         300
4     tiger     1005         320

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself. 
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)