<a href="https://colab.research.google.com/github/Praxis-QR/FDS/blob/main/FDS_Data36_Pandas_Tutorial_Starter_Pack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![CC-BY-SA](https://licensebuttons.net/l/by-sa/3.0/88x31.png)<br>
<hr>

![alt text](http://1.bp.blogspot.com/-nqAGzznZQNo/UwS8rxjfXeI/AAAAAAAABTA/nunmRLowpps/s1600/PraxisLogo.gif)<br>
[Data Science Program](http://praxis.ac.in/Programs/business-analytics/)

<hr>

[Prithwis Mukerjee](http://www.yantrajaal.com)<br>

##Reference<br>
[Data36 Tutorial 1](https://data36.com/pandas-tutorial-1-basics-reading-data-files-dataframes-data-selection/)<br>
[Data36 Tutorial 2](https://data36.com/pandas-tutorial-2-aggregation-and-grouping/)

In [ ]:
import numpy as np
import pandas as pd

#Loading Data

## zoo.csv

In [ ]:
#locate at https://drive.google.com/file/d/1LHrgbUoNrI2HG3bktN-Ak63Vw4ywW-XY/view?usp=sharing
!gdown https://drive.google.com/uc?id=1LHrgbUoNrI2HG3bktN-Ak63Vw4ywW-XY

Downloading...
From: https://drive.google.com/uc?id=1LHrgbUoNrI2HG3bktN-Ak63Vw4ywW-XY
To: /content/zoo.csv
100% 369/369 [00:00<00:00, 640kB/s]

In [ ]:
dfZoo = pd.read_csv('zoo.csv', delimiter = ',')

In [ ]:
dfZoo.head(5)

     animal  uniq_id  water_need
0  elephant     1001         500
1  elephant     1002         600
2  elephant     1003         550
3     tiger     1004         300
4     tiger     1005         320

## pandas_tutorial_read.csv

In [ ]:
#located at http://46.101.230.157/dilan/pandas_tutorial_read.csv
!wget 46.101.230.157/dilan/pandas_tutorial_read.csv

--2020-12-23 09:49:43--  http://46.101.230.157/dilan/pandas_tutorial_read.csv
Connecting to 46.101.230.157:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 110111 (108K) [application/octet-stream]
Saving to: ‘pandas_tutorial_read.csv’

pandas_tutorial_rea 100%[===================>] 107.53K   338KB/s    in 0.3s

2020-12-23 09:49:44 (338 KB/s) - ‘pandas_tutorial_read.csv’ saved [110111/110111]

In [ ]:
dfData = pd.read_csv('pandas_tutorial_read.csv', delimiter=';', header=None)

In [ ]:
dfData.head()

                     0     1          2           3        4              5
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

In [ ]:
dfData2 = pd.read_csv('pandas_tutorial_read.csv', delimiter=';', names = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'])

In [ ]:
dfData2.head()

           my_datetime event    country     user_id   source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

In [ ]:
zurl = 'http://46.101.230.157/dilan/pandas_tutorial_read.csv'
col_names_list = ['your_datetime', 'event', 'country', 'user_id', 'source', 'topic']

In [ ]:
dfData3 = pd.read_csv(zurl, delimiter=';', names = col_names_list )

In [ ]:
dfData3.tail()

            your_datetime event    country     user_id   source          topic
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

In [ ]:
article_read = pd.read_csv(url, delimiter=';', names = col_names )

In [ ]:
article_read.head()

           my_datetime event    country     user_id   source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself. 
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)