<a href="https://colab.research.google.com/github/Praxis-QR/FDS/blob/main/IMDB_1000_Movie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Yantrajaal Banner](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

In [1]:
from datetime import datetime
import pytz
print('ॐ श्री सरस्वत्यै नमः',datetime.now(pytz.timezone('Asia/Calcutta')))
!python --version
!lsb_release -a

ॐ श्री सरस्वत्यै नमः 2025-08-23 16:46:34.579912+05:30
Python 3.12.11
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04.4 LTS
Release:	22.04
Codename:	jammy

#Get Data

In [2]:
#!wget https://github.com/peetck/IMDB-Top1000-Movies/blob/master/IMDB-Movie-Data.csv
!wget -O movies.csv https://raw.githubusercontent.com/Praxis-QR/FDS/refs/heads/main/data/imdb_top_1000.csv
!head movies.csv

--2025-08-23 11:16:34--  https://raw.githubusercontent.com/Praxis-QR/FDS/refs/heads/main/data/imdb_top_1000.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 437095 (427K) [text/plain]
Saving to: ‘movies.csv’

movies.csv          100%[===================>] 426.85K  --.-KB/s    in 0.05s

2025-08-23 11:16:35 (9.01 MB/s) - ‘movies.csv’ saved [437095/437095]

Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
"https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX67_CR0,0,67,98_AL_.jpg",The Shawshank Redemption,1994,A,142 min,Drama,9.3,"Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.",80,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
"https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg",The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son.,100,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
"https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_UX67_CR0,0,67,98_AL_.jpg",The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9,"When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.",84,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
"https://m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2JlNC00OWZiLWIyMDctNDk2ZDQ2YjRjMWQ0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg",The Godfather: Part II,1974,A,202 min,"Crime, Drama",9,"The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.",90,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
"https://m.media-amazon.com/images/M/MV5BMWU4N2FjNzYtNTVkNC00NzQ0LTg0MjAtYTJlMjFhNGUxZDFmXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX67_CR0,0,67,98_AL_.jpg",12 Angry Men,1957,U,96 min,"Crime, Drama",9,A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.,96,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
"https://m.media-amazon.com/images/M/MV5BNzA5ZDNlZWMtM2NhNS00NDJjLTk4NDItYTRmY2EwMWZlMTY3XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UX67_CR0,0,67,98_AL_.jpg",The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men against Sauron's army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.,94,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
"https://m.media-amazon.com/images/M/MV5BNGNhMDIzZTUtNTBlZi00MTRlLWFjM2ItYzViMjE3YzI5MjljXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR0,0,67,98_AL_.jpg",Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.",94,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762"
"https://m.media-amazon.com/images/M/MV5BNDE4OTMxMTctNmRhYy00NWE2LTg3YzItYTk3M2UwOTU5Njg4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX67_CR0,0,67,98_AL_.jpg",Schindler's List,1993,A,195 min,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis.",94,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505,"96,898,818"
"https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_UX67_CR0,0,67,98_AL_.jpg",Inception,2010,UA,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O.,74,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,"292,576,195"

In [3]:
import pandas as pd

In [4]:
# Load Data

movies_df = pd.read_csv("movies.csv", index_col=False)
movies_df.head(3)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"

In [5]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [6]:
# See Columns
movies_df.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [7]:
movies_df.shape

(1000, 16)

In [8]:
movies_df.drop(['Poster_Link','Overview'], axis=1, inplace=True)
movies_df.columns

Index(['Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre',
       'IMDB_Rating', 'Meta_score', 'Director', 'Star1', 'Star2', 'Star3',
       'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [9]:
movies_df.shape

(1000, 14)

In [10]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Meta_score     843 non-null    float64
 7   Director       1000 non-null   object
 8   Star1          1000 non-null   object
 9   Star2          1000 non-null   object
 10  Star3          1000 non-null   object
 11  Star4          1000 non-null   object
 12  No_of_Votes    1000 non-null   int64
 13  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(11)
memory usage: 109.5+ KB

In [11]:
movies_df.head(3)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"

In [12]:
# Remove commas and convert Gross to numeric
movies_df['Gross'] = movies_df['Gross'].str.replace(',', '', regex=True)
movies_df['Gross'] = pd.to_numeric(movies_df['Gross'], errors='coerce')

In [13]:
# Remove commas and convert Gross to numeric
movies_df['Runtime'] = movies_df['Runtime'].str.replace(' min', '', regex=True)
movies_df['Runtime'] = pd.to_numeric(movies_df['Runtime'], errors='coerce')

In [14]:
movies_df['Released_Year'] = pd.to_numeric(movies_df['Released_Year'], errors='coerce').astype('Int64')

In [15]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  999 non-null    Int64
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   int64
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Meta_score     843 non-null    float64
 7   Director       1000 non-null   object
 8   Star1          1000 non-null   object
 9   Star2          1000 non-null   object
 10  Star3          1000 non-null   object
 11  Star4          1000 non-null   object
 12  No_of_Votes    1000 non-null   int64
 13  Gross          831 non-null    float64
dtypes: Int64(1), float64(3), int64(2), object(8)
memory usage: 110.5+ KB

In [16]:
movies_df.isnull().sum()

Series_Title       0
Released_Year      1
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [17]:
#1. Top 5 highest rated movies
#Task: Find the top 5 movies with the highest IMDB rating.
movies_df.nlargest(5, "IMDB_Rating")[["Series_Title", "IMDB_Rating"]]

               Series_Title  IMDB_Rating
0  The Shawshank Redemption          9.3
1             The Godfather          9.2
2           The Dark Knight          9.0
3    The Godfather: Part II          9.0
4              12 Angry Men          9.0

In [18]:
#2. Longest movies
#Task: Find the top 5 longest movies by runtime.
movies_df.nlargest(5, "Runtime")[["Series_Title", "Runtime"]]

                    Series_Title  Runtime
140           Gangs of Wasseypur      321
812                       Hamlet      242
314           Gone with the Wind      238
71   Once Upon a Time in America      229
116           Lawrence of Arabia      228

In [19]:
#3. Highest grossing movies
# Task: List the top 5 movies by box office gross.
movies_df.nlargest(5, "Gross")[["Series_Title", "Gross"]]

                                   Series_Title        Gross
477  Star Wars: Episode VII - The Force Awakens  936662225.0
59                            Avengers: Endgame  858373000.0
623                                      Avatar  760507625.0
60                       Avengers: Infinity War  678815482.0
652                                     Titanic  659325379.0

In [20]:
#4. Average rating
#Task: What is the average IMDB rating of all movies?
print(movies_df["IMDB_Rating"].mean())

7.949299999999999

In [21]:
#5. Most common certificate
#Task: Which certificate (U, UA, A, etc.) is most common?
movies_df["Certificate"].mode()[0]

'U'

In [22]:
movies_df["Certificate"].value_counts()

Certificate
U           234
A           197
UA          175
R           146
PG-13        43
PG           37
Passed       34
G            12
Approved     11
TV-PG         3
GP            2
TV-14         1
Unrated       1
TV-MA         1
16            1
U/A           1
Name: count, dtype: int64

In [23]:
movies_df["Genre"].value_counts()

Genre
Drama                        85
Drama, Romance               37
Comedy, Drama                35
Comedy, Drama, Romance       31
Action, Crime, Drama         30
                             ..
Action, Adventure, Family     1
Action, Crime, Mystery        1
Animation, Drama, Romance     1
Drama, War, Western           1
Adventure, Comedy, War        1
Name: count, Length: 202, dtype: int64

In [24]:
#7. Most prolific director
# Task: Which director has the most movies in this dataset?
movies_df["Director"].value_counts().head(3)

Director
Alfred Hitchcock    14
Steven Spielberg    13
Hayao Miyazaki      11
Name: count, dtype: int64

In [25]:
#8. Most frequent lead actor
#Task: Who appears most often as Star1?
movies_df["Star1"].value_counts().head(3)

Star1
Tom Hanks         12
Robert De Niro    11
Al Pacino         10
Name: count, dtype: int64

In [26]:
# Combine all actor columns into one series and count frequency
actor_counts = pd.concat([movies_df["Star1"], movies_df["Star2"], movies_df["Star3"], movies_df["Star4"]]).value_counts()

# Most frequent actor
most_frequent_actor = actor_counts.head(3)

print(most_frequent_actor)

Robert De Niro    17
Tom Hanks         14
Al Pacino         13
Name: count, dtype: int64

In [27]:
#9. Top directors by gross
#Task: Find the top 5 directors by average box office gross.
movies_df.groupby("Director")["Gross"].mean().sort_values(ascending=False).head(5)

Director
Anthony Russo     5.512599e+08
Gareth Edwards    5.321773e+08
J.J. Abrams       4.743903e+08
Josh Cooley       4.340380e+08
Roger Allers      4.227838e+08
Name: Gross, dtype: float64

In [28]:
#10. Christopher Nolan’s top movie
# Task: Which Christopher Nolan movie had the highest gross?
movies_df[movies_df["Director"]=="Christopher Nolan"].nlargest(5, "Gross")[["Series_Title", "Gross"]]

              Series_Title        Gross
2          The Dark Knight  534858444.0
63   The Dark Knight Rises  448139099.0
8                Inception  292576195.0
155          Batman Begins  206852432.0
573                Dunkirk  188373161.0

In [29]:
movies_df[movies_df["Director"]=="Christopher Nolan"][["Series_Title", "Gross"]]

              Series_Title        Gross
2          The Dark Knight  534858444.0
8                Inception  292576195.0
21            Interstellar  188020017.0
36            The Prestige   53089891.0
63   The Dark Knight Rises  448139099.0
69                 Memento   25544867.0
155          Batman Begins  206852432.0
573                Dunkirk  188373161.0

In [30]:
#11. Al Pacino’s best film
#Task: Which movie with Al Pacino has the highest IMDB rating?

movies_df[(movies_df[['Star1','Star2','Star3','Star4']] == 'Al Pacino').any(axis=1)] \
  .nlargest(1, "IMDB_Rating")[["Series_Title", "IMDB_Rating"]]

    Series_Title  IMDB_Rating
1  The Godfather          9.2

In [31]:
#11. Al Pacino’s best film
#Task: Which movie with Al Pacino has the highest IMDB rating?

movies_df[(movies_df[['Star1','Star2','Star3','Star4']] == 'Al Pacino').any(axis=1)] \
  .nlargest(1, "Gross")[["Series_Title", "IMDB_Rating", "Gross"]]

    Series_Title  IMDB_Rating        Gross
1  The Godfather          9.2  134966411.0

In [32]:
#12. Rating by certificate
#Task: What is the average IMDB rating for each certificate?
movies_df.groupby("Certificate")["IMDB_Rating"].mean()

Certificate
16          8.100000
A           7.998985
Approved    7.945455
G           8.000000
GP          7.850000
PG          7.927027
PG-13       7.797674
Passed      8.020588
R           7.869863
TV-14       8.300000
TV-MA       8.100000
TV-PG       7.900000
U           7.976923
U/A         7.600000
UA          7.957143
Unrated     8.100000
Name: IMDB_Rating, dtype: float64

In [33]:
#13. Most voted movies
#Task: Which 5 movies got the highest number of votes?
movies_df.nlargest(5, "No_of_Votes")[["Series_Title", "No_of_Votes"]]

               Series_Title  No_of_Votes
0  The Shawshank Redemption      2343110
2           The Dark Knight      2303232
8                 Inception      2067042
9                Fight Club      1854740
6              Pulp Fiction      1826188

In [34]:
movies_df.columns

Index(['Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre',
       'IMDB_Rating', 'Meta_score', 'Director', 'Star1', 'Star2', 'Star3',
       'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [36]:
#14. Oldest movie
#Task: What is the oldest movie in the dataset?
movies_df.nsmallest(1, "Released_Year")[["Series_Title", "Released_Year"]]

                     Series_Title  Released_Year
321  Das Cabinet des Dr. Caligari           1920

In [38]:
movies_df.nlargest(1, "Released_Year")[["Series_Title", "Released_Year"]]

   Series_Title  Released_Year
18     Hamilton           2020

In [55]:
#16. Best director (min 5 films)
#Task: Which director has the highest average rating (only if they have 5+ films)?
movies_df.groupby("Director").filter(lambda x: len(x) >= 5) \
  .groupby("Director")["IMDB_Rating"].mean().sort_values(ascending=False).head(3)

Director
Christopher Nolan       8.4625
Francis Ford Coppola    8.4000
Peter Jackson           8.4000
Name: IMDB_Rating, dtype: float64

In [44]:
movies_df.groupby("Director")['Series_Title'].count()

Director
Aamir Khan             1
Aaron Sorkin           1
Abdellatif Kechiche    1
Abhishek Chaubey       1
Abhishek Kapoor        1
                      ..
Zack Snyder            2
Zaza Urushadze         1
Zoya Akhtar            2
Çagan Irmak            1
Ömer Faruk Sorak       1
Name: Series_Title, Length: 548, dtype: int64

In [40]:
movies_df.groupby("Director").filter(lambda x: len(x) >= 5)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
1,The Godfather,1972,A,175,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0
2,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
3,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0
4,12 Angry Men,1957,U,96,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0
5,The Lord of the Rings: The Return of the King,2003,U,201,"Action, Adventure, Drama",8.9,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,377845905.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,Blood Simple,1984,A,99,"Crime, Drama, Thriller",7.6,82.0,Joel Coen,Ethan Coen,John Getz,Frances McDormand,Dan Hedaya,87745,2150000.0
988,Close Encounters of the Third Kind,1977,U,138,"Drama, Sci-Fi",7.6,90.0,Steven Spielberg,Richard Dreyfuss,François Truffaut,Teri Garr,Melinda Dillon,184966,132088635.0
990,Giù la testa,1971,PG,157,"Drama, War, Western",7.6,77.0,Sergio Leone,Rod Steiger,James Coburn,Romolo Valli,Maria Monti,30144,696690.0
998,Lifeboat,1944,NaN,97,"Drama, War",7.6,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,The 39 Steps,1935,NaN,86,"Crime, Mystery, Thriller",7.6,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [56]:
#17. Average gross (last 10 years)
#Task: Show the average gross per year for the last 10 years in the dataset.
recent_years = movies_df["Released_Year"].max() - 10
recent_years

np.int64(2010)

In [57]:
movies_df[movies_df["Released_Year"] >= recent_years].groupby("Released_Year")["Gross"].mean()

Released_Year
2010    1.131919e+08
2011    6.068590e+07
2012    1.210770e+08
2013    4.760582e+07
2014    8.889127e+07
2015    1.070581e+08
2016    1.128503e+08
2017    1.030656e+08
2018    1.862684e+08
2019    1.504214e+08
2020             NaN
Name: Gross, dtype: float64

In [58]:
#18. Most common genres
#Task: What are the top 10 most frequent genres?
movies_df["Genre"].value_counts().head(10)

Genre
Drama                           85
Drama, Romance                  37
Comedy, Drama                   35
Comedy, Drama, Romance          31
Action, Crime, Drama            30
Biography, Drama, History       28
Crime, Drama, Thriller          28
Crime, Drama, Mystery           27
Crime, Drama                    26
Animation, Adventure, Comedy    24
Name: count, dtype: int64

In [59]:
#19. Best movie per decade
#Task: Find the highest rated movie of each decade.
movies_df["Decade"] = (movies_df["Released_Year"] // 10) * 10
movies_df.loc[movies_df.groupby("Decade")["IMDB_Rating"].idxmax()][["Decade", "Series_Title", "IMDB_Rating"]]

     Decade                                    Series_Title  IMDB_Rating
126    1920                                      Metropolis          8.3
51     1930                                    Modern Times          8.5
32     1940                           It's a Wonderful Life          8.6
4      1950                                    12 Angry Men          9.0
12     1960                 Il buono, il brutto, il cattivo          8.8
1      1970                                   The Godfather          9.2
16     1980  Star Wars: Episode V - The Empire Strikes Back          8.7
0      1990                        The Shawshank Redemption          9.3
2      2000                                 The Dark Knight          9.0
8      2010                                       Inception          8.8
18     2020                                        Hamilton          8.6

In [60]:
#20. Correlation between rating & gross
#Task: Is there a correlation between IMDB ratings and box office gross?
movies_df["IMDB_Rating"].corr(movies_df["Gross"])

np.float64(0.09592277110132356)

#ChronoTYM <br>
In Indic phraseology, tantra is knowledge, a yantra is a device to explore this knowledge and a mantra is the code that unlocks both the tantra and its yantra. Chrono/TYM a sci-fi trilogy that recreates this framework where the first novel Chronotantra defines the contours of a tech driven, futuristic society, the second, Chronoyantra, describes a device used to explore the genesis of this society, while the third, Chronomantra finally reveals the code, the key, that unlocks this puzzle.  [More information](http://bit.ly/chronobooks) <br>
![alt text](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjdu_ajYwBRzk5iFYlcs59ZoRMMg6rhNm4JERKspvFJoveJsnfwRlzMICiC37UOja_Bd4sbfLA1pyyBbe0mj3tUfDBXoqCzNUDw3Wux7acoJBaLkWjAvJXfa7drRY2GQRAlFxEY9O7a7raY4RKy7cA3Uxgf5QsaZQ99C9GfXxFSex_rke8ROhAn41t8zOqK/s1640/tymBanner01_3.png)

In [37]:
from datetime import datetime
import pytz
print('Tested on ',datetime.now(pytz.timezone('Asia/Calcutta')))

Tested on  2025-08-23 16:46:36.331822+05:30